<!--<div class="row">-->
<!--  <div class="col-12 col-md-6">-->
    <%#= f.field_container :label do %>
      <%#= f.label :label, class: 'required' %>
      <%#= f.text_field :label, required: true, class: 'fullwidth' %>
      <%#= f.error_message_on :label%>
    <%# end %>

    <%#= f.field_container :text_value do %>
      <%#= f.label :text_value, class: 'required' %>
      <%#= f.field_hint :text_value %>
      <%#= f.text_area :text_value, required: true, class: 'fullwidth' %>
      <%#= f.error_message_on :text_value %>
    <%# end %>

    <%#= f.field_container :boolean_value do %>
      <%#= f.label :boolean_value %>
      <%#= f.check_box :boolean_value, class: 'fullwidth'  %>
      <%#= f.error_message_on :boolean_value %>
    <%# end %>

    <%#= f.field_container :number_value do %>
      <%#= f.label :number_value %>
      <%#= f.number_field :number_value, class: 'fullwidth'  %>
      <%#= f.error_message_on :number_value %>
    <%# end %>
<!--  </div>-->
<!--  <div class="col-12 col-md-6">-->

<!--  </div>-->
<!--</div>-->
