.filters-holder {
  width: 100%;
  .title-container {
    padding: 60px 15px;
    .title-small {
      font-family: "chainprinter", sans-serif;
      font-size: 14px;
      display: none;
    }
    .title-big {
      font-size: 28px;
      font-weight: bold;
    }
  }
  .filters-container {
    .filters-mobile-btn-holder {
      margin-bottom: 25px;
      @media (min-width: $exceptSmall) {
        display: none;
      }
      .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 25px 0;
        width: 100%;
        span {
          color: $primary;
          font-family: "chainprinter", sans-serif;
          font-size: 14px;
        }
        img {
          margin-left: 10px;
        }
      }
    }
    .filters {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      @media (max-width: $mobileHeader) {
        flex-wrap: wrap;
      }
      @media (max-width: $small) {
        display: none;
      }
      .filter-select-holder {
        position: relative;
        user-select: none;
        padding: 10px 0;
        .filter-select {
          display: flex;
          align-items: center;
          height: 100%;
          padding: 0 5px 20px 5px;
          border-bottom: 1px solid #E5E5E5;
          cursor: pointer;
          justify-content: space-between;
          @media (max-width: $mobileHeader) {
            padding: 0 5px 10px 5px;
          }
          p{
            font-size: 16px;
            font-weight: bold;
            width: 100%;
            padding: 0 10px;
            text-align: left;
          }
        }
        .filter-dropdown {
          position: relative;
          max-height: 350px;
          overflow: hidden;
          width: 100%;
          display: none;
          &.show {
            display: block;
          }
          .dropdown-item {
            padding: 10px 20px;
            cursor: pointer;
            &:last-child {
              border-bottom: none;
            }
            &:hover {
              color: #FFF;
              background: #333333;
            }
          }
        }
      }
    }
  }
}

.products-sort {
  margin: 50px 0 30px 0;
  .container {
    display: flex;
    p {
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
    }
    .select-holder {
      cursor: pointer;
      .select {
        display: flex;
        margin-left: 5px;
        p {
          color: $primary;
        }
        img {
          margin-left: 5px;
        }
      }
    }
  }
}
.catalog-holder{
  display: flex;
  .filter-sidebar{
    display: flex;
    flex: 0 0 20%;
  }
}