.filters-holder {
  width: 100%;
  .title-container {
    padding: 60px 15px;
    .title-small {
      font-family: "chainprinter", sans-serif;
      font-size: 14px;
      display: none;
    }
    .title-big {
      font-size: 28px;
      font-weight: bold;
    }
  }
  .filters-container {
    .filters-mobile-btn-holder {
      margin-bottom: 25px;
      @media (min-width: $exceptSmall) {
        display: none;
      } 
      .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 25px 0;
        width: 100%;
        span {
          display: flex;
          align-items: center;
          justify-content: center;
          color: $primary;
          font-family: "chainprinter", sans-serif;
          font-size: 14px;
        }
        img {
          margin-left: 10px;
        }
      }
    }
    .filters {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      @media (max-width: $mobileHeader) {
        flex-wrap: wrap;
      }
      @media (max-width: $small) {
        position: fixed;
        transform: translateY(-100%);
        transition: transform 0.2s;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        bottom: 0;
        background-color: #fff;
        form{
          padding: 20px;
          top:60px;
          width: 100%;
          position: absolute;
        }
      }
      .filter-select-holder {
        position: relative;
        user-select: none;
        padding: 10px 0;
        .filter-select {
          display: flex;
          align-items: center;
          height: 100%;
          padding: 0 5px 20px 5px;
          border-bottom: 1px solid #e5e5e5;
          cursor: pointer;
          justify-content: space-between;
          @media (max-width: $mobileHeader) {
            padding: 0 5px 10px 5px;
          }
          p {
            font-size: 16px;
            font-weight: bold;
            width: 100%;
            padding: 0 10px;
            text-align: left;
          }
        }
        .filter-dropdown {
          position: relative;
          width: 100%;
          display: none;
          &.show {
            display: block;
          }
          .dropdown-item {
            display: flex;
            flex-direction: column;
            input[type="checkbox"] {
              width: 16px;
              height: 16px;
              margin: 0 10px;
            }
            .dropdown-subitem-wrapper {
              display:none;
              padding-left: 20px;
              .dropdown-subitem {
                padding: 10px;
                display: flex;
                align-items: center;
              }
              .dropdown-subitem:hover {
                p {
                  color: #fff;
                }
                background-color: #333;
              }
            }
            .dropdown-item-select {
              display: flex;
              align-items: center;
              @media (max-width: $small){
                border-bottom: 1px solid #E5E5E5;
                padding: 5px 0 10px 0;
              }
              p{
                width: 100%;
                padding: 10px;
              }
            }
            .dropdown-item-select:hover {
              p {
                color: #fff;
              }
              background-color: #333;
            }
            .show{
              display: block
            }
          }
        }
      }
      .filters-mobile-btn-hidden{
        display: none;
        width: 100%;
        background-color: $primary-light;
        padding: 20px 32px;
        font-family: "chainprinter", sans-serif;
        align-items:center;
        span{
          color: #fff;
          img{
            cursor: pointer;
            width: 17px;
            height: 17px;
            margin-right: 15px;
          }
        }
        @media (max-width: $mobileHeader) {
          display: flex;
        }
      }
    }
    .show{
      transform: translateY(0);
    }
  }
}

.products-sort {
  margin: 50px 0 30px 0;
  .container {
    display: flex;
    p {
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
    }
    .select-holder {
      cursor: pointer;
      .select {
        display: flex;
        margin-left: 5px;
        p {
          color: $primary;
        }
        img {
          margin-left: 5px;
        }
      }
    }
  }
}
.catalog-holder {
  display: flex;
  width: 100%;
  max-width: 1360px;
  padding: 0 15px;
  margin: 0 auto;
  .filter-sidebar {
    display: flex;
    flex: 0 0 30%;
  }
  @media (max-width: $small){
    flex-direction: column;
  }
}

