.home-content {
  .home-hero {
    position: relative;
    .home-hero-image {
      width: 100%;
    }
    .home-title-holder {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .home-subtitle {
        font-family: "chainprinter", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 2px;
        color: #ffffff;
        margin-bottom: 30px;
        @media (max-width: $small){
          margin-bottom: 15px;
        }
      }
      .home-title {
        font-style: normal;
        font-weight: 300;
        font-size: 60px;
        line-height: 64px;
        color: #ffffff;
        @media (max-width: $small) {
          font-size: 30px;
          line-height: 34px;
        }
      }
    }
  }
}
