.login {
  padding: 100px 0;
  @media (max-width: $small) {
    padding: 20px 0 100px 0;
  }
  .container {
    display: flex;
    @media (max-width: $large) {
      padding: 0;
    }
    @media (max-width: $small) {
      flex-direction: column;
    }
    .col {
      flex: 1;
      padding: 0 120px;
      display: flex;
      flex-direction: column;
      @media (max-width: $large) {
        padding: 0 15px;
      }
      .col-title {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 20px;
      }
      .or {
        margin: 40px 0;
        align-self: center;
        color: $light-text-color;
      }
      .btn-facebook {
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
      }
      .forgot-password-wrapper{
        margin: 20px 0;
        .forgot-password-link {
          color: $primary;
          text-decoration: underline;
          font-weight: bold;
          font-size: 14px;
        }
      }
      .btn-google{
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        img{
          margin-right: 20px;
        }
      }
      .btn-primary {
        width: 100%;
        padding: 20px 0;
        font-weight: bold;
        margin-top: 20px;
        text-align: center;
      }
      &.login-col {
        border-right: 1px solid #e5e5e5;
        @media (max-width: $small) {
          margin-bottom: 70px;
        }
        .login-form {
          display: flex;
          flex-direction: column;
          .input-holder {
            margin-bottom: 15px;
          }
        }
      }
    }
  }
  .half-container{
    width: 60%;
    @media (max-width: $small){
      width: 100%;
    }
    @media (min-width: $large){
      width: 40%
    }
    p{
      font-size: 14px;
      margin: 10px 0;
    }
  }
}

.input-holder {
  display: flex;
  flex-direction: column;
  label {
    font-size: 14px;
    margin: 10px 0;
  }
  input {
    width: 100%;
    border: 1px solid #e5e5e5;
    height: 45px;
    background: $white;
  }
}
