$colMinWidth: 280px;
$colPadding: 10px;

.products-holder {
  display: flex;
  padding: 30px 0;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: -$colPadding;
  margin-right: -$colPadding;
}
.products-button-holder{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.product-col {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 $colPadding;
  margin-bottom: 30px;
  min-width: $colMinWidth;
  @media (max-width: calc(#{$colMinWidth * 4 + $colPadding * 4})) {
    flex: 0 0 33%;
    max-width: 33%;
  }
  @media (max-width: calc(#{$colMinWidth * 3 + $colPadding * 3})) {
    flex: 0 0 50%;
    max-width: 50%;
  }
  @media (max-width: $small) {
    min-width: 150px;
  }
}

.product-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #e5e5e5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  height: 100%;
  .product-image-holder {
    position: relative;
    height: 100%;
    img {
      width: 100%;
    }
    .new-mark-top {
      display: none;
    }
    .new-mark-bottom {
      display: none;
    }
  }
  .zoom-effect {
    overflow: hidden;
  }
  .zoom-effect img {
    transition: transform .5s ease;
  }
  .zoom-effect:hover img {
    transform: scale(1.2);
  }
  .product-card-body {
    padding: 24px 16px;
    background: $white;
    .body-info {
      border-bottom: 1px solid #e5e5e5;
      padding: 0 16px 16px 16px;
      text-align: center;
      min-height: 80px;
      @media (max-width: $small) {
        padding: 0 0 16px 0;
      }
      p {
        font-size: 16px;
        font-weight: bold;
      }
      .title{
        font-family: "chainprinter", sans-serif;
        font-size: 12px;
        margin-bottom: 8px;
        font-weight: normal;
      }
    }
    .body-actions-holder {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 16px 0 0 0;
      @media (max-width: $small) {
        flex-direction: column;
      }
      .price {
        @media (max-width: $small) {
          margin-bottom: 20px;
        }
        p {
          color: $light-text-color;
          font-weight: bold;
          font-size: 16px;
        }
      }
      .body-actions {
        display: flex;
        align-items: center;
        .add-to-cart {
          display: flex;
          align-items: center;
        }
        .favourite {
          display: flex;
          align-items: center;
          margin-left: 10px;
        }
      }
    }
  }
  &.new-product {
    .product-image-holder {
      position: relative;
      width: 50%;
      .new-mark-top {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $primary;
        position: absolute;
        top: 5%;
        left: 5%;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        p{
          text-align: center;
          color: #fff;
          font-size: 12px;
        }
      }
      .new-mark-bottom {
        background: $primary;
        display: none;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 85px;
        height: 38px;
        font-family: 'chainprinter', sans-serif;
        p {
          font-size: 12px;
          font-weight: bold;
          text-transform: uppercase;
          color: $white;
        }
      }
    } 
  }
  &.product-side {
    flex-direction: row;
    .product-image-holder {
      width: 50%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .product-card-body {
      display: flex;
      width: 80%;
      flex-direction: column;
      .body-info {
        border-bottom: none;
        text-align: left;
        padding: 0 0 16px 0;
      }
      .body-actions-holder {
        margin-top: auto;
        border-top: 1px solid #e5e5e5;
        @media (max-width: $small) {
          flex-direction: row;
        }
        .price {
          @media (max-width: $small) {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.featured-producer-section .new-mark-top, .featured-collection-products-section .new-mark-top, .all-available-products .new-mark-top{
  display: none;
}
.featured-producer-section .new-mark-bottom, .featured-collection-products-section .new-mark-bottom, .all-available-products .new-mark-bottom{
  display: none;
}
