<div class="producer-sidebar">
  <div class="producer-sidebar-title">
    <h1 class="title">
      <%= t('store.product.index.filters.producer')%>
    </h1>
  </div>
  <div class="producer-sidebar-form-holder">
    <%= render partial: 'spree/producers/show/producer_filters'%>
  </div>
</div>