<% @body_id = 'cart' %>
<div data-hook="cart_container" class="cart">
  <div class="container title-container">
    <h1 class="cart-title"><%= t('spree.shopping_cart') %></h1>
  </div>

  <% if @order.line_items.empty? %>

    <div data-hook="empty_cart">
      <p><%= t('spree.your_cart_is_empty') %></p>
      <p><%= link_to t('spree.continue_shopping'), products_path, class: 'button continue' %></p>
    </div>

  <% else %>
    <div data-hook="cart_with_items">
      <%= render partial: 'spree/orders/edit/cart_with_items', locals: { order: @order } %>
    </div>
    <%# Spree::PaymentMethod.available_to_users.select { |payment_method| payment_method.try(:display_on_cart) }.each do |payment_method| %>
    <%#= render partial: "spree/orders/payment/#{payment_method.cart_partial_name}", locals: { payment_method: payment_method } %>
    <%# end %>
  <% end %>
</div>
