<div class="steps-nav">
  <div class="step-nav-link active">1. <span>ACCEDI</span></div>
  <div class="step-nav-link">2. <span>DATI</span></div>
  <div class="step-nav-link">3. <span>PAGAMENTO</span></div>
  <div class="step-nav-link">4. <span>CONFERMA</span></div>
</div>