<div class="step-four">
  <%= image_tag("checkout/order-confirmed.png") %>
  <p class="cheers">Cheers!</p>
  <h1 class="step-four-title">
    Ordine confermato!
  </h1>
  <button class="btn btn-primary">
    TORNA AL CATALOGO
  </button>
  <p class="step-four-text">Ricordati che puoi controllare lo stato del tuo ordine accedendo alla tua <a href="#">area personale</a></p>
</div>