<div class="step-two">
  <h1 class="step-two-title">Indirizzo di fatturazione</h1>
  <address>
    <p>Chiara Viganò</p><br>
    <p>Via Silva 13, Monza  20900 MB</p><br>
    <p>3405987289</p><br>
    <a href="mailto:chiarav87@yahoo.com">chiarav87@yahoo.com</a>
  </address>
  <div class="line"></div>
  <h1 class="step-two-title">Indirizzo di spedizione</h1>
  <label class="radio-container">
    <div>
      <h1>Indirizzo 1</h1>
      <address>
        <p>Chiara Viganò</p><br>
        <p>Via Silva 13, Monza  20900 MB</p><br>
        <p>3405987289</p><br>
        <a href="mailto:chiarav87@yahoo.com">chiarav87@yahoo.com</a>
      </address>
    </div>
    <input type="radio" checked="checked" name="radio">
    <span class="checkmark"></span>
  </label>
  <label class="radio-container">
    <div>
      <h1>Indirizzo 2</h1>
      <address>
        <p>Chiara Viganò</p><br>
        <p>Via Silva 13, Monza  20900 MB</p><br>
        <p>3405987289</p><br>
        <a href="mailto:chiarav87@yahoo.com">chiarav87@yahoo.com</a>
      </address>
    </div>
    <input type="radio" name="radio">
    <span class="checkmark"></span>
  </label>
</div>