<div class="step-three">
  <h1 class="step-three-title">Scegli un metodo di pagamento</h1>
  <label class="radio-container">
    <div class="row">
      <h1>Paypal</h1>
    </div>
    <input type="radio" checked="checked" name="radio">
    <span class="checkmark"></span>
  </label>
  <label class="radio-container">
    <div class="row">
      <h1>Google Pay</h1>
    </div>
    <input type="radio" checked="checked" name="radio">
    <span class="checkmark"></span>
  </label>
  <label class="radio-container">
    <div class="row">
      <h1>Apple pay</h1>
    </div>
    <input type="radio" checked="checked" name="radio">
    <span class="checkmark"></span>
  </label>
  <label class="radio-container">
    <div class="row">
      <h1>Amazon Pay</h1>
    </div>
    <input type="radio" checked="checked" name="radio">
    <span class="checkmark"></span>
  </label>
  <label class="radio-container">
    <div class="row">
      <h1>Satispay</h1>
    </div>
    <input type="radio" checked="checked" name="radio">
    <span class="checkmark"></span>
  </label>
  <label class="radio-container">
    <div class="row">
      <h1>Credit card</h1>
      <div class="images">
        <%= image_tag("checkout/credit-cards.png") %>
      </div>
    </div>
    <input type="radio" checked="checked" name="radio">
    <span class="checkmark"></span>
  </label>
</div>