<div class="producer-section">
  <div class="producer-tags-holder">
    <div class="container">
      <div class="tag">
        <p>PODERE CIPOLLA</p>
        <div class="close-tag">
          <%= image_tag("icons/icon-tag-close.svg") %>
        </div>
      </div>
    </div>
  </div>
  <div class="producer-content-holder">
    <div class="container">
      <div class="col col-left">
        <%= image_tag("producers/producer-default-image.jpg") %>
      </div>
      <div class="col col-right">
        <p>Podere Cipolla si trova a Coviolo, in provincia di Reggio Emilia, a sud dell'antica via Emilia, un territorio
          ricco di storia enogastronimica. Nasce nel 2003 per volontà di Denny Bini che acquista un piccolo appezzamento
          di terreno di mezzo ettaro. Denny inizia a coltivare vitigni autoctoni come il Lambrusco Grasparossa, il
          lambrusco Salamino e di Sorbara, il Malbo, il Gentile, e la Malvasia, che utilizza per ottenere vini
          monovitigno. Da subito decide di produrrre i suoi vini secondo il metodo tradizionale della rifermentazione in
          bottiglia, metodo che nelle sue zone si è perso a scapito del metodo Charmat o Martinotti. Denny, in cantina,
          vinifica utilizzando solo lieviti indigeni, e non effettua chiarifiche o filtrazioni in modo da preservare al
          massimo le caratteristiche del vitigno. </p>
      </div>
    </div>
  </div>
</div>