<div class="container cellar-top">
  <%= image_tag("product/cellar-background.png", class: "background-image" ) %>
    <div class="col col-left">
      <p class="title">CANTINA</p>
      <h1 class="title-big">Cantina del Malandrino</h1>
      <%= image_tag("product/cellar-image.jpg") %>
    </div>
    <div class="col col-right">
      <%= image_tag("product/cellar-logo.png") %>
    </div>
</div>

<div class="container cellar-bottom">
  <p>
    Vigneto di 15000 ceppi su 2,5 ha con impianto tradizionale ad alberello, sesto 1x1 su terrazzamenti vulcanici
    esposti a sud-sudest a circa 450 slm.
    Inerbimento spontaneo, pascolo brado con ovini da ottobre a febbraio, sfalcio con strumentazione elettrica, scalzo
    del piede manuale.
    Concimazione biennale con concime organico autoprodotto a spaglio manuale. Potatura verde selettiva, raccolta
    selettiva a scalare.
  </p>
</div>