<% if params[:keywords] %>

  <div data-hook="search_results">
    <% if @products.empty? %>
      <h6 class="search-results-title"><%= t('spree.no_products_found') %></h6>
    <% else %>
      <%= render partial: 'spree/shared/products', locals: { products: @products, taxon: @taxon } %>
    <% end %>
  </div>

<% else %>
  <%= render partial: 'spree/products/index/catalog', locals: { taxon: @taxon, selected_taxons: @selected_taxons, products: @products } %>
<% end %>
