$mobile: 479px;
$exceptMobile: 480px;

$small: 576px;
$exceptSmall: 577px;

$medium: 767px;
$exceptMedium: 768px;

$footerBreak: 855px;
$exceptFooterBreak: 856px;

$mobileHeader: 900px;
$exceptMobileHeader: 901px;

$large: 1023px;
$exceptLarge: 1024px;

$extraLarge: 1199px;
$exceptExtraLarge: 1200px;
