@import url("https://p.typekit.net/p.css?s=1&k=ogs6wud&ht=tk&f=188&a=50063149&app=typekit&e=css");

@font-face {
  font-family: "chainprinter";
  src: url("https://use.typekit.net/af/3adfe3/000000000000000077359588/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/3adfe3/000000000000000077359588/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/3adfe3/000000000000000077359588/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
span,
small,
input,
textarea {
  margin: 0;
  color: $text-color;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  &:focus {
    box-shadow: none;
    outline: none;
  }
}

p {
  font-size: 14px;
}
