footer#footer {
  background: $black;
  display: flex;
  padding: 40px 15px 110px 15px;
  .col {
    &.logo-col {
      display: flex;
      flex-direction: column;
      .logo-image {
        margin-bottom: 25px;
      }
      .logo-social {
        display: flex;
        align-items: center;
        a {
          margin-right: 10px;
        }
      }
    }
    &.address-col {
      address {
        p {
          color: $white;
          font-style: normal;
          font-size: 14px;
        }
      }
    }
  }
}