<address class="profile-info" profile-nav="profile-info">
  <p class="address-title">Indirizzo di fatturazione</p>
  <p class="name">Chiara Viganò</p>
  <p>Via Silva 13, Monza</p>
  <p>20900 MB</p>
  <p>3405987289</p>
  <p class="mail">chiarav87@yahoo.com</p>
  <button class="modify-btn">Modifica</button>
</address>