<div class="profile">
  <div class="container">
    <h3 class="profile-title-small">Bentortata</h3>
    <h1 class="profile-title-big">Bentortata, Chiara</h1>
    <div class="line"></div>
    <div class="col profile-nav-col">
      <div class="profile-nav">
        <div class="profile-nav-link">
          <p>Il mio profilo</p>
          <%= image_tag("icons/icon-chevron-right-primary.svg") %>
        </div>
        <div class="profile-nav-link">
          <p>I miei ordini</p>
          <%= image_tag("icons/icon-chevron-right.svg") %>
        </div>
        <div class="profile-nav-link">
          <p>Indirizzi salvati</p>
          <%= image_tag("icons/icon-chevron-right.svg") %>
        </div>
      </div>
    </div>
    <div class="col profile-content-col"></div>
  </div>
</div>