<div class="register">
  <h1 class="register-title">Crea un account</h1>
  <form class="register-form">
    <div class="form-row">
      <div class="form-col">
        <div class="input-holder">
          <label>Email</label>
          <input type="email">
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-col">
        <div class="input-holder">
          <label>Password*</label>
          <input type="password">
        </div>
      </div>
      <div class="form-col">
        <div class="input-holder">
          <label>Conferma password*</label>
          <input type="password">
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-col">
        <div class="input-holder">
          <label>Nome*</label>
          <input type="text">
        </div>
      </div>
      <div class="form-col">
        <div class="input-holder">
          <label>Cognome*</label>
          <input type="text">
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-col">
        <div class="input-holder">
          <label>Citta*</label>
          <input type="text">
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-col">
        <div class="input-holder w70">
          <label>Provincia*</label>
          <input type="text">
        </div>
        <div class="input-holder w30">
          <label>CAP*</label>
          <input type="text">
        </div>
      </div>
      <div class="form-col">
        <div class="input-holder w70">
          <label>Indirizzo*</label>
          <input type="text">
        </div>
        <div class="input-holder w30">
          <label>N&deg;*</label>
          <input type="text">
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-col">
        <div class="input-holder">
          <label>Telefono*</label>
          <input type="text">
        </div>
      </div>
    </div>
  </form>
  <h1 class="register-title">Indirizzo di spedizione</h1>
  <label class="checkbox-container">Copia dati da indirizzo di fatturazione
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
  </label>
  <form class="address-form">
    <div class="form-row">
      <div class="form-col">
        <div class="input-holder">
          <label>Etichetta indirizzo (es. “ Magazzino”)</label>
          <input type="text">
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-col">
        <div class="input-holder">
          <label>Nome*</label>
          <input type="text">
        </div>
      </div>
      <div class="form-col">
        <div class="input-holder">
          <label>Cognome*</label>
          <input type="text">
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-col">
        <div class="input-holder">
          <label>Citta*</label>
          <input type="text">
        </div>
      </div>
      <div class="form-col">
        <div class="input-holder w70">
          <label>Indirizzo*</label>
          <input type="text">
        </div>
        <div class="input-holder w30">
          <label>N&deg;*</label>
          <input type="text">
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-col">
        <div class="input-holder w70">
          <label>Provincia*</label>
          <input type="text">
        </div>
        <div class="input-holder w30">
          <label>CAP*</label>
          <input type="text">
        </div>
      </div>
    </div>
  </form>
</div>