<% if @page %>
  <% @page.elements.each do |element| %>
    <% cache element do %>
      <div class="container">
        <%= element_view_for element do |el| %>
          <article>
            <%= el.render :text %>
          </article>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <% if params['id'] == "il-locale" %>
    <%= render partial: 'spree/pages/show/illocale' ,locals:{with_widget:true}%>
  <% elsif params['id'] == "chi-siamo"%>
    <%= render partial: 'spree/pages/show/illocale' ,locals:{with_widget:false}%>
  <% end %>

<% end %>