<%= render 'spree/shared/error_messages', target: order %>
<div id="cart-detail" class="container content-container" data-hook>
  <div id="line_items" class="col items-col" data-hook>
    <%= render partial: 'spree/orders/shared/line_item', collection: order.line_items, as: :line_item, locals: { source: :order } %>
  </div>
  <%= render partial: 'spree/orders/edit/summary', locals: { order: order } %>
</div>