<div class="profile-addresses" profile-nav="profile-addresses">
    <div class="addresses-title">
      <p>Indirizzi salvati</p>
    </div>
    <div class="addresses-holder">
      <div class="address-box">
        <address class="address preferred">
          <p class="address-title">Indirizzo 1 <span class="preferred">(preferito)</span></p>
          <p class="name">Chiara Viganò</p>
          <p>Via Silva 13, Monza</p>
          <p>20900 MB</p>
          <p>3405987289</p>
          <p class="mail">chiarav87@yahoo.com</p>
        </address>
      </div>
      <div class="address-box">
        <address class="address">
          <p class="address-title">Indirizzo 1 <span class="preferred">(preferito)</span></p>
          <p class="name">Chiara Viganò</p>
          <p>Via Silva 13, Monza</p>
          <p>20900 MB</p>
          <p>3405987289</p>
          <p class="mail">chiarav87@yahoo.com</p>
        </address>
      </div>
    </div>
    <button class="new-address-btn">Nuovo indirizzo +</button>
  </div>