<!-- You can override this template to design your own header. -->
<style>
  .header-logo{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    padding: 10px;
  }
  .header-logo img{
    height: 50px;
    width: 50px;
  }
</style>
<div class="header-logo">
    <%= image_tag("logo/logo.svg") %>
</div>