<!-- You can override this template to design your own header. -->
<style>
  .header-logo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  .header-logo img{
    height: 66px;
    padding: 10px;
  }
</style>
<div class="header-logo">
    <%= image_tag("logo/logo.svg") %>
</div>