<% if name %>
  <div class="breadcrumb">
    <%= link_to t('store.shared.footer.site.home'), root_path %>
    /
    <% if defined?(path) %>
      <%= link_to name, path %>
    <% else %>
      <%= name %>
    <% end %>
  </div>
<% end %>