<div class="products-sort">
  <div class="container">
    <p>Ordina per: </p>
    <div class="select-holder">
      <div class="select">
        <p>Prezzo Crescente</p>
        <%= image_tag("icons/icon-chevron-down-primary.svg") %>
      </div>
    </div>
  </div>
</div>