<div class="image-columns">
  <div data-name="onstipe" class="wbctA">
    <script defer src="https://onstipe.com/web/js/webembed.js" type="text/javascript"></script>
    <div class="wbctB" data-val="vxn71"></div>
  </div>
</div>