<%= render partial: 'spree/shared/breadcrumbs', locals: { name: t('store.product.index.filters.producer') } %>


<div class="catalog-holder column">
  <div class="producer-sidebar-holder">
    <%= render partial: 'spree/producers/index/producer_sidebar'%>
  </div>
  <div class="container">
    <div class="producer-list">
      <% taxon_children(:producer).each do |producer| %>
        <%= render partial: 'spree/producers/index/producer_card', locals: { producer: producer } %>
      <% end %>
    </div>
  </div>
</div>